{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    {% load staticfiles %}
        <style>
             .bg_image{
             background: url('{% static 'images/profile.jpg' %}') no-repeat ;
             background-size: cover;
             height: 600px;
            }

          .card {
          position: absolute;
          top: 55%;
          left: 50%;
          transform: translate(-50%, -50%);
           }
        </style>
{% endblock %}

{% block body %}
    <div class="bg_image">
        <div class="container">
            <div class="card rounded-0">
                <div class="card-header text-center">
                    <h3 class="mb-0">Change password</h3>
                </div>

                <!-- Start messages alert  -->
                <div class="form-group">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <!-- End messages alert  -->

                <div class="card-body">
                    <form class="site-form" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-info"> Submit </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
