{% extends 'base.html' %}

{% block head %}
    {% load staticfiles %}
        <style>
             .bg_image{
             background: url('{% static 'images/profile.jpg' %}') no-repeat ;
             background-size: cover;
             height: 600px;
            }

          .card {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
           }
        </style>
{% endblock %}

{% block body %}
    <div class="bg_image">
        <div class="container">
                <div class="">
                        <div class="card "  style="width: 30rem;">
                              <div class="card-header text-center">
                                  <h3 class="mb-0">Profile</h3>
                              </div>

                            <!-- Start messages alert  -->
                                <div class="form-group">
                                    {% if messages %}
                                    <ul class="messages">
                                    {% for message in messages %}
                                        <div class="alert alert-success alert-dismissible">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            <!-- End messages alert  -->
                            <div class="card-body">
                                <p><b> Username :</b>  {{ user }}</p>
                                <p><b> First name :</b> {{ user.first_name }}</p>
                                <p><b> Last name :</b> {{ user.last_name }}</p>
                                <p><b> Email address :</b> {{ user.email }}</p>

                                <a href="/athletic_resort/edit_profile">
                                <button type="button" class="btn btn-success">Edit Profile</button>
                                </a>
                            </div>
                        </div>
                </div>
        </div>
    </div>

{% endblock %}


